.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

data/raw/*
data/curated/*
data/processed/*
outputs/forecasts/*
outputs/metrics/*
outputs/dashboard/*
outputs/robustness/*
outputs/logs/*

!data/raw/.gitkeep
!data/curated/.gitkeep
!data/processed/.gitkeep
!outputs/forecasts/.gitkeep
!outputs/metrics/.gitkeep
!outputs/dashboard/.gitkeep
!outputs/robustness/.gitkeep
!outputs/logs/.gitkeep